 body{
    background-color: gray;
    cursor: pointer;
} 
h1{
    color: black;
}
.clicked{
    color: #ff7979;
}
.btn{
    cursor: pointer;
}
.form,
.greetings{
    display: none;
}
.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.backImg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* 5초에 한번씩 애니매이션 */
    animation: fadeIn .5s linear; 
    
}
